@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap");
@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  background-color: $bg;
  font-family: "PT Serif", serif;
  color: $black;
  padding: 30px 40px;
  line-height: 1.5;
}

header {
  font-size: 46px;
  letter-spacing: 1px;
  margin-bottom: 175px;
}

.works {
  margin-bottom: 80px;
  .works__header {
    @extend %grid;
    @extend %tinyText;
    padding-bottom: 10px;
  }
  .works__list {
    .works__work {
      @extend %grid;
      font-size: 20px;
      border-top: 1px solid $black;
      padding: 20px 0px;
      cursor: pointer;
      &:hover {
        font-style: italic;
      }
    }
  }
}

.cv {
  margin-bottom: 100px;
}

.cv,
.about {
  font-size: 30px;
  span {
    @extend %tinyText;
  }
  a {
    color: $red;
    &:hover {
      font-style: italic;
    }
  }
}

.about {
  padding-bottom: 60px;
}
